@model LibraryFilms.Web.Data.Entities.Section

@{
    ViewData["Title"] = "Nueva Sección";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Nueva Sección</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Index" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Nueva Sección</li>
        </ol>
    </nav>
</div>

<section class="Section dashboard">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nueva Sección</h5>

            <!-- Floating Labels Form -->
            <form class="row g-3" asp-action="Create" method="POST">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control"  placeholder="@Html.DisplayFor(model => model.Name)">
                        <labe>@(Html.DisplayFor(model => model.Name))</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </form>

        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}