
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action ="Create" method="Post">

    <div class="mb-3">

        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" placeholder="Nombres...">

    </div>

        <div class="mb-3">

        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" placeholder="Apellidos...">

    </div>

        <div class="mb-3">

        <label class="form-label">Descripcion</label>
        <input type="text" class="form-control" placeholder="Apellidos...">

    </div>


</form>

