@model LibraryFilms.Web.DTOs.FilmDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Editar Película</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Título...">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Género</label>
        <input type="text" class="form-control" asp-for="Genre" placeholder="Género...">
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha de Estreno</label>
        <input type="text" class="form-control" asp-for="PublishDate" placeholder="Fecha de Estreno...">
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Director</label>
        <select class="form-control" asp-for="DirectorId" asp-items="Model.Directors">
            <option value="">Seleccione un director...</option>
        </select>
        <span asp-validation-for="DirectorId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Descripción...">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

