@model LibraryFilms.Web.DTOs.ActorDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo Actor</h1>

<form asp-action="Create" method="Post">

    <div class="mb-3">

        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="Nombres...">
        <span asp-validation-for="FirstName" class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Apellidos...">
        <span asp-validation-for="LastName" class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label class="form-label">Descripcion</label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Descripción...">
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <button class="btn btn-primary">Guardar</button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}